        /* from avi portfolio*/
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@100;200;300;400;500;600&display=swap');

body {
         background-color: rgb(3, 3, 3);
         font-family: Verdana, Geneva, Tahoma, sans-serif;

        }
.name{font-size: 2.3rem;}
.sec1{        display: grid;
              grid-template-rows: 60px;
              grid-template-columns: 1fr 2fr;
              justify-content: center;
             
              box-shadow: -3px 3px 20px  rgb(139, 139, 127);
              align-items: center;
              /* padding-left: 80px; */
              color: whitesmoke;
              background-color:rgb(47, 47, 47); 

    /* border: 2px solid rgb(8, 219, 36); */
}
 /* test code */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This keeps borders/padding inside the width */
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.grid-container{
            text-align: center;
            color: beige;
            grid-template-rows: 200px 200px;
          }
.nav{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    overflow: hidden;
      position: relative;
      top: 5px;
      left: 80px;}
li
{float: left;}
li a { 
   /*display: inline-block;*/
    padding: 10px;
    font-size: 30px;}
                               /*from main page*/
    .sec1 span{
          color: rgb(211, 200, 200);
          position: relative;
          top: 5px;
        }
    .two {
         /*  background-color: rgb(88, 88, 88); */
            display: grid;
            grid-template-rows: 687px;
            grid-template-columns: 1fr;
            align-items: center;
            position: relative;
             left: 1px;
             width: 99%;
             background-size: cover;
             
        }

        .slogan1 h1 {text-align: center; color:#17843d}
        .slogan span{color: brown}
    .three {
            background-color:rgb(45, 45, 45);  
           /* background-color: rgb(66, 66, 66); */
            position: relative;
            width: 80vw;
            left:244px;
            display: grid;
            grid-template-rows: 70px 70px;
            grid-template-columns: 1fr 1fr 1fr;
            border-radius: 15px;
        }
    .three span{
          position: relative;
          top: 20px;
        }
        
    .review{
          /*background-color: rgb(52, 52, 52); */
          display: grid;
        /*  grid-template-rows: 535px; */
        /*  grid-template-columns: 1000px ; */
          grid-gap: 5px;
          border-radius: 10px;
          border: 5px;
          
          
        }
        .review >div {
            text-align: center;
            /*background-image: url('images/bac1.jpg'); */
            background-size: cover;
            
            /*background-color: rgb(60, 60, 60); */
            padding: 10px 0;
            border-radius: 6px;
        }
    .review-head{
            grid-area: 1 / 1 /span 1/ span 2;
            
        }
    .review1{
          background-color:rgb(27, 27, 27);
          border-radius: 10px;
          position: relative;     
            grid-area: 2 / 1 /span 1 /span 1;
            display: grid;
            grid-template-rows: 535px;
        }
        .review1 img {
            position: relative;
            left:80px;
        }
        .review2 img {
            position: relative;
            right:80px;
        }
    .review2{
          background-color:rgb(27, 27, 27);
          border-radius: 10px;
          position: relative;
           grid-area: 2/ 2 /span 1 /span 1;
        
        }
                /*form*/
    .form{
      /*  background-color: rgb(75, 75, 75); */
        background-color:rgb(27, 27, 27); 
        border-radius: 15px;
        padding-bottom: 16px;
        padding-top: 0px;
         position: relative;
         top: -16px;
      }
    .form h1:hover{
        color: rgb(101, 12, 12);
        transition: 1000ms ease;
      }
    .contain{
       background-color: rgb(17, 17, 17);
       border-radius: 15px;
        position: relative;
        top: 8px;

        padding-bottom: 20px;
    }
    #name{
       position: relative;
       width: 280px;
       border-radius: 8px;
       padding: 7px;
       border: 0px;
       background-color: rgb(143, 143, 140);
       font-size: 18px;
  }
    #Email{
       position: relative;
       width: 280px;
       border-radius: 8px;
       padding: 7px;
       border: 0px;
       background-color: rgb(143, 143, 140);
       font-size: 18px;
  }
    #number{
       position: relative;
       width: 280px;
       border-radius: 8px;
       padding: 7px;
       border: 0px;
       background-color: rgb(143, 143, 140);
       font-size: 18px;
  }
  #name,#Email,#number:hover{
     color: brown;
  }
  #l1:hover{
     color:rgb(101, 12, 12);
  }
  #l2:hover{
     color:rgb(101, 12, 12);
  }
  #l3:hover{
     color:rgb(101, 12, 12);
  }
    #l1{
        color:beige;
        position: relative;
        left: -100px;
        font-size: 23px;
      }
    #l3{
        color:beige;
        position: relative;
        left: -106px;
        font-size: 23px;
        
      }
   #l2{
        color:beige;
        position: relative;
        left: -51px;
        font-size: 23px;
      }
    #sub{
        color: aliceblue;
        background-color: brown;
        padding-bottom: 6px;
        padding-top: 6px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        outline: none;
        border: none;
        font-size: 20px;
      }
    #sub:hover{
      
        background-color: rgb(0, 0, 0);
        box-shadow: 0 0 20 beige;
        transition: 50ms ease;
      }
      
    .four {
            background-color: rgb(40, 40, 40);
            display: grid;
            grid-template-rows: 200px;
            grid-template-columns:1fr 1fr 1fr;
            position: relative;
            height: 200px;
            font-size: 1vw;
            border: 2px solid red;
        }
    .address{margin-top: 16px;  border: 2px solid blueviolet;}
    .social-icons{margin-top: 16px;
                  border: 2px solid blueviolet;
                  text-align: center;
                  align-items: center;
    }
    .d{margin-top: 16px;  border: 2px solid blueviolet;}

      
      #hea4{
        color: #cfcfcf;
        text-align: center;
      }
      #hea4:hover {
        color: #17843d;
      }
      /* #add{
        text-align: left;
        position: relative;
        left: 175px;
      } */
       #add{
        color: rgb(193, 3, 3);
       }
       #add:hover{
        color: #cfcfcf;
       }

      .social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 0.2rem solid beige;
    font-size: 1.6rem;
    border-radius: 50%;
    margin: 3rem 1.9rem 3rem 0;
    transition: 0.3s ease;
    position: relative; 
    left: 20px;
}
      .social-icons a:hover{
         color: black;
         transform:scale(1.07)translatey(-2px);
         background-color: beige;
         box-shadow:0 0 25px beige;

}
    a{
            text-decoration: none;
            color: rgb(193, 3, 3);
           /* background-color: black; */
            padding: 10px;
            border-radius: 10px;
        }
    a:hover{
       color: rgb(179, 179, 178);
       transition: 50ms ease;
       
        }
    .name:hover{
        transform:scale(1.03) ;
         /*box-shadow:0 0 25px beige;*/
         transition: 100ms ease-in-out;
        }
    #logo {
        position: relative;
        left: -25px;  
    }
    #slides {
        color: black;
        
    }
    .slideshow-container{
        position: relative;
        top: 10px;
        }

 /* For Mobile */
           @media only screen and (max-width:600px){                                             
            
   /* *{position: relative; } */
   .sec1{border: 2px solid red;}
    .name     {grid-area: 1/ span 4; text-align: center;  border: 2px solid rgb(110, 43, 43); }
    .nav      {grid-area: 2/ span 4; position: relative; border: 2px solid rgb(21, 255, 0);}
    
    .two       {grid-area: 2/ span 4;   }
    .slogan1   {grid-area: 3/ span 4; position: relative;  }
    .three     {grid-area: 4/ span 4; position: relative; left: -0px; display: inline-block;  }
    .three     {background-color: #00541e}
    .three h1  {font-size: 25px; position: relative; top: -20px;}
    .review1   {grid-area: 5/ span 4; position: relative;  }
    .review2   {grid-area: 6/ span 4; position: relative;  }
    .form      {grid-area: 7/ span 4; position: relative; top: 20px;}
    
    .address   {grid-area: 8/ span 4; position: relative;  text-align: center; }
    .social-icons{grid-area: 9/ span 4; position: relative;  }
    .d         {grid-area: 10/ span 4; position: relative; }
           
    .address h2 {position: relative; left: 145px; }
   
    
    .review1{margin-top: 8px;}
    .review1 img{position: relative; left: 0px;}
    .review2 img{position: relative; left: 0px;}
    .review-head {position: relative; left: 64px; font-size: 11px; top: 30px;}

    .two{ position: relative; transform: scale(0.272); left: -157px; height: 400px; top: 20px; border: 2px solid rgb(17, 255, 0);}
    .slideshow-container{position: relative; top: -209px; background-color: rgb(225, 222, 222);}                                
    .sec1{position: relative; padding-bottom: 15px;}
   /* .name{font-size: 27px; position: relative; left: -60px;} */
    .nav a{font-size: 16px; position: relative; left: -0px; top: 0px;}
    .nav {display: inline-block; left: -6px;}
     li a{position: relative;  padding:7px; top: -5px; }

     .slogan1{font-size: 11px; position: relative; top: -88px;}
   
     .form h1{font-size: 26px;   }
     .form form{ border-radius: 7px; padding-bottom: 10px; }
     .four{position: relative;}
     .address{position: relative; top: -120px; border: 3px solid violet;}
     .address h4{position: relative; top: -30px; color: rgb(161, 36, 36); font-size: 14px;}
     .social-icons{position: relative; top: -50px;}
     .social-icons h2{position: relative; left: -17px;}
     #hea4{font-size: 1rem; text-align: center; position: relative; top:-30px; left: -16px;}
} 


     /* .nav{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    overflow: hidden;
      position: relative;
      top: 5px;
      left: 80px;}
li
{float: left;}
li a { 
   /*display: inline-block;
    padding: 10px;
    font-size: 30px;} */
  